<h1>Teacher</h1>

<label>user name</label>
<input type="text" [(ngModel)]="teacher.username"> 
<br>
<label>name</label>
<input type="text" [(ngModel)]="teacher.name">
<br>
<label>lastName</label>
<input type="text" [(ngModel)]="teacher.lastName">
<br>
<label>phoneNumber</label>
<input type="text" [(ngModel)]="teacher.phoneNumber">
<br>
<label>email</label>
<input type="text" [(ngModel)]="teacher.email">
<br>
<label>password</label>
<input type="password" [(ngModel)]="teacher.password">

<button (click)="createTeacher()">create teacher</button>
