<app-nav-bar></app-nav-bar>

<label>user name</label>
<input type="text" [(ngModel)]="student.username"> 
<br>
<label>name</label>
<input type="text" [(ngModel)]="student.name">
<br>
<label>lastName</label>
<input type="text" [(ngModel)]="student.lastName">
<br>
<label>phoneNumber</label>
<input type="text" [(ngModel)]="student.phoneNumber">
<br>
<label>email</label>
<input type="text" [(ngModel)]="student.email">
<br>
<label>password</label>
<input type="password" [(ngModel)]="student.password">

<button (click)="createStudent()">create student</button>
